
/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

/* Universal operator Start*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}

/* Universal operator End*/
.section{
	padding-top: 80px;
	padding-bottom: 80px;
}
/* Header Section CSS Start */

header {
    background-color: #37517E;
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right center;
}
.navbar-brand img{
	max-width: 130px;
	height:auto ;
	display: block;
}
.navbar-nav .nav-link {
    color: #fff !important;
    padding: 0 1.1rem !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
}
.navbar-nav .nav-link:focus, 
.navbar-dark .nav-link:hover{
    color: rgb(62 169 232) !important;
}
.nav-item .active {
    color: rgb(62 169 232) !important;
}
.my-btn,
.my-btn1{
	padding: 8px 30px;
	background-color: #3A95BF;
	color: #fff;
	font-weight: 500;
	line-height: 40px;
	font-size: 15px;
}
.my-btn1{
	background-color: #37517E;
}
.banner_content{
	padding-top: 130px;
	padding-bottom: 130px;
	color: #fff;
}
.banner_content h1{
	font-size: 2.5rem;
    font-weight: 600;
    line-height: 58px;
    word-spacing: 2px;
    letter-spacing: 3px;
}
.banner_content p{
	padding: 30px 0;
    text-align: justify;
    font-size: 17px;
}
.my-btn:hover,
.my-btn1:hover{
	color: #fff !important;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.play{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	display: inline-flex;
    align-items: center;
}
.play:hover{
	color: #fff;
}
.play i.fas{
	font-size: 20px;
	color: #fff;
	margin-right: 10px;
}

/* Header Section CSS End */

/* Brand Section CSS Start */

.brand{
	list-style: none;
	margin: 0;
	padding: 0;
	display:flex;
	justify-content:space-between;
	align-items: center;
	padding: 20px 0 0;
}
.brand li{
    margin: 0;
    padding: 40px 20px 30px;

}
.brand li img{
	width: 140px;
	height: auto;
}
/* Brand Section CSS End */

/* Card-Section Start*/
.my-crad{
	padding: 12px;
}
.my-crad h4{
	font-size: 20px;
	font-weight: 600;
	color: #000;
	margin-bottom: 15px;
}
.my-crad p, .crad-right p, .trust p{
	color: #5877AD;
	font-size: 16px;
	line-height: 30px;
}
.crad-right p, .trust p{
	padding: 13px 0;
	text-align: justify;
}
/* .trust p{
	padding: 15px 0;
	text-align: justify;
} */
.my-crad i{
	font-size: 45px;
	color: #72C4EA;
	padding: 15px;
}
.crad-right h3, .trust h3{
	font-size: 30px;
	font-weight: 500;
	line-height: 45px;
	color: #000;
}

.crad-right a{
	text-decoration: none;
	font-weight: 700;
	color: #72C4EA;
}
.crad-right a i{
	margin-left: 10px;
	font-size: 16px;
}
/* Card-Section End*/
/* Trust Section start */
.trust{
	background: #EAF5FC;
	background-image: url('../images/trust.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left center;
}
.trust{
	padding-top:100px;
	padding-bottom: 100px; 
}
/* Trust Section End */
/* Media Query Start  */

@media (max-width: 1199px){
	.brand li{
	    margin: 0;
	    padding: 34px 5px;
	}
	.brand li img{
		width: 135px;
	}
	.banner_content h1{
		font-size: 2rem;
	    line-height: 48px;
	    word-spacing: 0;
	    letter-spacing: 1px;
		}
		header {
		    background-size: 42%;
		}
		.crad-right h3, .trust h3{
			font-size: 24px;
			font-weight: 500;
			line-height: 35px;
			color: #000;
		}
	}


@media (max-width: 991px){
	header {
	    background-size: 39%;
	}
	.navbar-nav .nav-item{
		padding-bottom: 25px;
		margin-left: 30px;
		font-size: 18px;
	}
	.navbar-nav .nav-item:nth-child(1){
		margin-top: 15px;
	}
	.banner_content h1{
		font-size: 1.6rem;
	    line-height: 38px;
	    word-spacing: 0;
	    letter-spacing: 1px;
	}
	.banner_content p{
		padding: 15px 0;
	    font-size: 16px;
	}
	.my-btn,
	.my-btn1{
		padding: 4px 18px;
		line-height: 33px;
		font-size: 13px;
	}
	.banner_content{
		padding-top: 80px;
		padding-bottom: 60px;
	}
	brand li {
	    margin: 0;
	    padding: 26px 10px;
	}
	.brand li img{
		width: 110px;
	}
	.abu{
		margin-bottom: 45px;
	}
	.section {
    	padding-top: 50px;
	}
	
	.trust h3{
		font-size: 20px;
		line-height: 30px;
	}
	.trust p{
		font-size: 14px;
		line-height: 20px;
	}
	.trust{
		background-size: 45%;
	}

}

@media (max-width:767px){
	header {
	    background-size: 37%;
	}
	.banner_content h1{
		font-size: 1.3rem;
	    line-height: 30px;
	}
	.banner_content p{
		padding: 12px 0;
	    font-size: 13px;
	}
	.banner_content{
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.my-btn,
	.my-btn1{
		padding: 2px 13px;
		line-height: 27px;
		font-size: 11px;
	}
	.brand li {
	    padding: 24px 8px;
	}

	.trust h3{
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
	}
	.trust p{
		font-size: 12px;
		line-height: 14px;
	}
	.trust{
		background-size: 47%;
	}
	.trust p{
		padding: 8px 0;
	}
	
}
@media (max-width: 575px){
	header{
		background-image: url();
	}
	.trust{
		background-image: url();
	}
	.brand li {
	    padding: 22px 4px;
	}
	.my-btn,
	.my-btn1{
		padding: 1px 11px;
		line-height: 20px;
		font-size: 10px;
	}
	.abu{
		margin-bottom: 45px;
	}
	.trust h3{
		font-size: 25px;
		font-weight: 600;
		line-height: 45px;
	}
	.trust p{
		font-size: 16px;
		line-height: 30px;
	}
	.my-btn,{
		padding: 8px 30px;
		background-color: #3A95BF;
		line-height: 40px;
		font-size: 15px;
	}
	.trust{
		padding-top: 50px;
		padding-bottom: 50px ;
	}
}
/* Media Query End  */